<body>
    <h1>Item Detail</h1>
    <p for="name">Item Name: <span><%= item.name %></span></p>
    <p for="price">Item Price: <span><%= item.price %></span></p>
    <p for="category">Item Category: <span><%= item.category.name %></span></p>
<body>